body {
    background-color: aqua;
}

#score {
    font-size: 35px;
    margin-left: 20px;
}

#timer {
    font-size: 35px;
    float: right;
    margin-right: 20px;
}

#sketch {
    color: azure;
}